 <!-- About Section -->
    <section  id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-0">
                    <p>GeoGreen ist ein communitybasiertes und georeferenziertes Umweltinformationssystem, geschaffen durch Gamification-Methoden. Es liefert ein Portal mit offenen Umweltinformationen zum Recherchieren.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-0">    
                    <p>Die Webseite bietet Nutzern/innen die Möglichkeit einen Beitrag zum Umweltschutz zu leisten, indem Verschmutzungen jeglicher Art von ihnen erfasst werden und diese visuell auf einer Karte verortet werden. Nutzer/innen können ohne großen Aufwand sog. Quests erstellen, bearbeiten und lösen. Ziel ist es, eine Bandbreite von kategorisierten Umweltbelastungen im Raum Berlin zu sammeln, damit diese markiert sind und demnach schneller und effizienter von umweltbewussten Nutzern/innen, Naturschutzgruppen sowie Behörden entfernt werden können. </p>
                </div>
                <div class="col-lg-4">
                    <p>Mit GeoGreen möchten wir in erster Linie ein dauerhaftes Umdenken der Nutzer erreichen, dass sie umweltproblematisches Handeln erkennen, einstellen und im besten Fall andere über ihr Fehlverhalten aufklären. 
                    Wir möchten ebenso alle Altersgruppen ansprechen, wobei Jüngere sich in Form von Schulprojekten beteiligen könnten. 
                    </p>
                </div>
            </div>
        </div>
    </section>

                