 <!-- Motivation Section -->
    <section class="success" id="motivation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Motivation</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-0">
                    <p>Immer st&auml;rker hat der Mensch die Erde f&uuml;r sich beansprucht. Die Natur wird verst&auml;rkt als M&uuml;lleimer der Bev&ouml;lkerung genutzt ohne die Konsequenzen zu ber&uuml;cksichtigen. Im Sinne der Nachhaltigkeit m&ouml;chte das Projekt GeoGreen seine Mitmenschen ermutigen die Umwelt zu sch&uuml;tzen sowie kollaborativ ein besseres Bewusstsein f&uuml;r unsere Erde zu entwickeln.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-0">    
                    <p>Im Land Berlin wurden 2014 ein gesamtes Abfallaufkommen von 6.965.519 Tonnen ermittelt.  Das aber nicht jeder Abfall deponiert oder verwertet wird, zeigt sich in unseren Meeren, W&auml;ldern und auf den Straßen in Berlin, wo sich einiges an unerw&uuml;nschten M&uuml;ll und anderen Verschmutzungen sammelt. Es gibt dadurch viele bedrohte Tier- und Pflanzenarten, die jetzt unsere Hilfe ben&ouml;tigen, um weiter im Großstadt-Dschungel existieren zu k&ouml;nnen </p>
                </div>
                <div class="col-lg-4">
                    <p>Eine gesunde, gepflegte und saubere Umwelt f&ouml;rdert nicht nur das nachhaltige leben, sondern auch die Effizienz der einzelnen Individuen. Die Verbesserung der Umwelt-&auml;sthetik wirkt sich direkt und indirekt auf unsere Leistungsf&auml;higkeit aus und reduziert das Stress-Level der beitragenden Nutzer/innen. 
                    </p>
                </div>
            </div> 
            <div class="col-lg-12 text-center">
            <h3>In diesem Sinne...</h3>
            <p>...helfe mit, unsere Stadt sauberer zu gestalten und habe Spaß dabei, im Team f&uuml;r ein nachhaltiges Berlin zu arbeiteten!</p>
            <h3>Be fit for a better environment!</h3>
            </div>
        </div>
    </section>
