<!-- Requirements Section -->
<section  id="requirements">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Requirements</h2>
                <hr class="star-light">
                <div>
                    <h3>Neugrierig geworden?</h3>
                    <p>GeoGreen zeigt dir im <a href="#portfolio" class="page-scroll">Tutorial</a> wie einfach es ist unsere Umwelt zu pflegen.</p></br></br>
                    
                        <h5>Alles was du brauchst ist:</h5>
                       <p> ein PC mit Internetzugang oder ein GPS-fähiges Mobilgerät mit Internetnutzung und</br>
                        natürlich die aktuelle Software:
                    </p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download App for Android
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>